@model IEnumerable<soft98.DataAccessLayer.Entities.Category>

 
    <div role="navigation" class="visible-lg">
        <ul style="direction: rtl;right: 80px; margin-right: -10px;position: relative;">
            @foreach (var item in Model.Where(s => s.ParentId == null))
            {
                <li class="col-lg-12 menu1" style="text-align: center; margin-top: -2px; width: 148px; height: 47px; padding: 0; float: right;">
                    <a  asp-action="ShowProductByCategory" asp-route-id="@item.Id" asp-route-title="@item.Name.Replace(" ","-")"
                        id="menu1" >@item.Name</a>
                    <div class="col-lg-12" style="margin-right: -3px; position: relative;top:0px;">
                        <i class="fas fa-sort-down arrow-header text-center"></i>
                    </div>

                    @if (Model.Any(c => c.ParentId == item.Id))
                    {
                        <ul>
                            @foreach (var sub in Model.Where(d => d.ParentId == item.Id))
                            {
                                <li class="col-lg-4 col-md-4" style="direction: rtl;float: right;">
                                    <a id="menu2"  asp-action="ShowProductByCategory" asp-route-id="@sub.Id"
                                       asp-route-title="@sub.Name.Replace(" ","-")">@sub.Name</a>
                                    @if (Model.Any(s => s.ParentId == sub.Id))
                                    {
                                        <ul style="right: -40px">
                                            @foreach (var subitem in Model.Where(f => f.ParentId == sub.Id))
                                            {
                                                <li class="col-lg-4 col-md-4" style="width: 150px; top: 0;">
                                                    <a asp-action="ShowProductByCategory" asp-route-id="@subitem.Id"
                                                       asp-route-title="@subitem.Name.Replace(" ", "-")" id="menu3">
                                                         <i class="fas fa-caret-left arrow-left"></i>@subitem.Name </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>

    </div>

    <div class="visible-md visible-sm visible-xs hidden-lg">
        <a href="#" class="Home" style="display: block;">خانه</a>
        <a href="#" class="Home" style="display: block;">تبلیغات</a>

        @foreach (var item in Model.Where(d => d.ParentId == null))
        {
            <a  asp-action="ShowProductByCategory" asp-route-id="@item.Id" asp-route-title="@item.Name.Replace(" ","-").ToString()"
                id="menu1" class="dropdown-btn menu-btn" style="margin-bottom: 20px; display: inline-block;">@item.Name 
                <i class="fas fa-sort-down pull-left arrowSide"></i></a>

            @if (Model.Any(s => s.ParentId == item.Id))
            {
                <div id="submenus">
                    @foreach (var sub in Model.Where(f => f.ParentId == item.Id))
                    {
                        <a style="color: #7bad49; border-bottom: 1px solid #7bad49; display: block; margin: 0 60px 0 0; width: 100%"
                           asp-action="ShowProductByCategory" asp-route-id="@sub.Id" asp-route-title="@sub.Name.Replace(" ", "-").ToString()">
                            @sub.Name</a>

                        @if (Model.Any(s => s.ParentId == sub.Id))
                        {
                            @foreach (var subitem in Model.Where(f => f.ParentId == sub.Id))
                            {
                                <a  asp-action="ShowProductByCategory" asp-route-id="@subitem.Id" 
                                    asp-route-title="@subitem.Name.Replace(" ","-").ToString()" 
                                    style="display: block; margin: 15px 75px; ">@subitem.Name</a>
                            }
                        }
                  
                    }
                </div>
            }
            else
            {
                <input type="hidden" />
            }
        }
    </div>